@media(max-width:500px){
    .backend h4{
        position: absolute;
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 6vw;
    top: 0vh;
    left: 5vw;
    width: 23rem;
    }

    .backend h5{
        width: 93%;
        font-size: 5vw;
        top: 46%;
        text-transform: capitalize;
        font-weight: 100;
    }
    .page5 a img{
        height: 12vh;
        width: 26vw;
    
    }

    .page5 p{
        font-size: 3vw;
        top: 90%;
    }

    .page5{
       top: 623vh;
        height: 70vh;
    }
    .page5 h1{
        font-size: 10vw;
        font-size: 14vw;
        text-align: inherit;
        left: 10%;
        top: 5%;
    }
    .link{
        height: 10vh;
    }
    .link a h4{
        font-size: 10vw;
    }
    .link a h6{
        font-size: 5vw;
        width: 69%;
    }
    .h42{
        top: 139vh;
        z-index: 1;
    }
    .project-link{
        top: 159vh;
    }
    .seeall{
        width: 35vw;
        height: 14vw;
        background-color: rgb(70 145 139);
        position: absolute;
        top: 102vh;
        left: 58vw;
        color: white;
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7vw;
    }

    
    .work-container{
        height: 45vh;
        top: 50vh;
    }
    .work-container  img{
        width: 85vw;
        height: 28vh;
    }
    .work-container img:nth-child(1){
        display: none;
    }
    .work-container img:nth-child(3){
        display: none;
    }
    .work-container img:nth-child(2){
        display: none;
    }
    .work-container img:nth-child(4){
        display: none;
    }
    .work-container img:nth-child(5){
        display: none;
    }
    

    .h4{
        font-size: 9vw;
        /* top: 26vh; */
    }

    .work{
        font-size: 13vw;
        left: 27%;
    }

    .page4{
        top: 375vh;
    }
    .skill{
        /* background: red; */
        height: 17vh;
        width: 35vw;
    }
    .skills-container{
        top: 22%;
        height: 120vh;
    }
    .skills-container a{
        font-size: 5vw;
        margin-block: 107vh;
        position: absolute;
        background: rgb(255, 253, 253);
        width: 32vw;
        height: 15vh;
        border-radius: 4vw;
        box-shadow: 3px 1px 10px 2px black;
        font-size: 5vw;
        color: black;
        font-weight: 700;
    }
    .skills-container img{
        width: 20vw;
        height: 10vh;
        left: 50%;
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .skills-container a i{
        font-size: 11vw;
}
    .page3 h5{
        font-size: 5vw;
        left: 11%;
        top: 17%;
    }
    .page3{
        height: 177vh;
    }
    .skills{
        font-size: 14vw;
        left: 28%;
    }
    .portfolio h4{
        font-size: 3.7vw;
    }
    #smcircle{
        display: none;
    }
    .nav .mobile-open{
        position: absolute;
        right: 5vw;
        top: 1vh;
        font-size: 4vw;
        color: white;
    }
    .menu .mobile-close{
        position: absolute;
        right: 5vw;
        top: 1vh;
        font-size: 4vw;
        color: white;
        z-index: 100000;
    }
    .nav .menu{
        display: none;
        width: 100%;
        height: 74vh;
        border-bottom-left-radius: 181vw
    }
    .menu ul{
        left: 45%;
    }
    .menu ul li {
        font-size: 6vw;
        margin-block: 7vh;
    }
    .nav .open{
        display: none;
    }

    .menu ul li a{
        font-size: 4vw;
    }

    .name h3{
      font-size: 19vw;
    }

    .name img{
        width: 98vw;
        left: -10%;
        top: 32%;
    }
    .page1 {
        height: 80vh;
    }

    .name p{
        font-size: 4vw;
        color: #ffffffa8;
        top: 44%;
        letter-spacing: 8px;
    }
    .name a{
        top: 37%;
        left: 28%;
    }

    .page2 h1{
        font-size: 12vw;
        left: 16%;
    }
    .page1 .text{
        width: 100%;
        left: 0;
        top: 30%;
    }

    .page2 .text p{
        font-size: 4vw;
        width: 85vw;
        top: 34%;
        line-height: 40px;
        display: flex;
        text-align: center;
    }
    .repo{
        top: 41%;
        left: 4%;
    }
}


@media(width:280px){
    .repo {
        top: 41%;
        left: 4%;
        width: 8rem;
        height: 2.5rem;
    }
    .backend h4{
        position: absolute;
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 6vw;
    top: 0vh;
    left: 5vw;
    width: 23rem;
    }

    .backend h5{
        width: 93%;
        font-size: 5vw;
        top: 46%;
        text-transform: capitalize;
        font-weight: 100;
    }
    .page5 a img{
        height: 12vh;
        width: 26vw;
    
    }
    .page5{
        top: 662vh;
        height: 70vh;
    }
    .page5 h1{
        font-size: 10vw;
        font-size: 14vw;
        text-align: inherit;
        left: 10%;
    }
    .link{
        height: 10vh;
    }
    .link a h4{
        font-size: 10vw;
    }
    .link a h6{
        font-size: 5vw;
        width: 69%;
    }
    .h42{
        top: 139vh;
        z-index: 1;
    }
    .project-link{
        top: 159vh;
    }
    .seeall{
        width: 35vw;
        height: 14vw;
        background-color: rgb(70 145 139);
        position: absolute;
        top: 102vh;
        left: 58vw;
        color: white;
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7vw;
    }

    
    .work-container{
        height: 45vh;
        top: 50vh;
    }
    .work-container  img{
        width: 85vw;
        height: 28vh;
    }
    .work-container img:nth-child(1){
        display: none;
    }
    .work-container img:nth-child(3){
        display: none;
    }
    .work-container img:nth-child(2){
        display: none;
    }
    .work-container img:nth-child(4){
        display: none;
    }
    .work-container img:nth-child(5){
        display: none;
    }
    

    .h4{
        font-size: 9vw;
        /* top: 26vh; */
    }

    .work{
        font-size: 13vw;
        left: 27%;
    }

    .page4{
        top: 375vh;
    }
    .skill{
        /* background: red; */
        height: 17vh;
        width: 35vw;
    }
    .skills-container{
        top: 22%;
        height: 120vh;
    }
    .skills-container a{
        font-size: 5vw;
        margin-block: 107vh;
        position: absolute;
        background: rgb(255, 253, 253);
        width: 32vw;
        height: 15vh;
        border-radius: 4vw;
        box-shadow: 3px 1px 10px 2px black;
        font-size: 5vw;
        color: black;
        font-weight: 700;
    }
    .skills-container img{
        width: 20vw;
        height: 10vh;
        left: 50%;
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .skills-container a i{
        font-size: 11vw;
}
    .page3 h5{
        font-size: 5vw;
        left: 11%;
        top: 17%;
    }
    .page3{
        height: 177vh;
    }
    .skills{
        font-size: 14vw;
        left: 28%;
    }

    #smcircle{
        display: none;
    }
    .nav .mobile-open{
        position: absolute;
        right: 5vw;
        top: 1vh;
        font-size: 7vw;
        color: white;
    }
    .menu .mobile-close{
        position: absolute;
        right: 5vw;
        top: 1vh;
        font-size: 7vw;
        color: white;
        z-index: 100000;
    }
    .nav .menu{
        display: none;
        width: 98vw;
        height: 80vh;
        border-bottom-left-radius: 153vw;
    }
    .menu ul{
        left: 34%;
    }
    .menu ul li {
        font-size: 6vw;
        margin-block: 7vh;
    }
    .nav .open{
        display: none;
    }

    .menu ul li a{
        font-size: 6vw;
    }

    .name h3{
        font-size: 19vw;
    }

    .name img{
        width: 98vw;
        left: -10%;
        top: 32%;
    }
    .page1 {
        height: 80vh;
    }

    .name p{
        font-size: 4vw;
        color: #ffffffa8;
        top: 44%;
        letter-spacing: 8px;
    }
    .name a{
        top: 36%;
        left: 45%;
    }

    .page2 h1{
        font-size: 12vw;
        left: 16%;
    }
    .page1 .text{
        width: 100%;
        left: 0;
        top: 30%;
    }

    .page2 .text p{
        font-size: 4vw;
        width: 85vw;
        top: 38%;
        line-height: 28px;
    }
}



 @media (width:820px ){
    .backend h4{
        position: absolute;
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 4vw;
    top: 0vh;
    left: 5vw;
    width: 45rem;
    }

    .backend h5{
        width: 93%;
        font-size: 3vw;
        top: 43%;
        text-transform: capitalize;
        font-weight: 100;
    }
    .page5 p{
        top: 97%;
    }
    .page5 a img{
        width: 24vw;
        height: 16vh;
    }
    .page5{
        top: 695vh;
        height: 100vh;
    }
    .page5 h1{
        font-size: 10vw;
        font-size: 14vw;
        text-align: inherit;
        left: 10%;
        top: 10%;
    }
    .link{
        height: 12vh;
    }
    .link a h4{
        font-size: 7vw;
    }
    .link a h6{
        font-size: 5vw;
        width: 69%;
    }
    .h42{
        top: 139vh;
        z-index: 1;
    }
    .project-link{
        top: 159vh;
    }
    .seeall{
        width: 25vw;
        height: 10vw;
        background-color: rgb(70 145 139);
        position: absolute;
        top: 102vh;
        left: 65vw;
        color: white;
        text-decoration: none;
        font-size: 1rem;
        letter-spacing: 5px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7vw;
    }
    .repo{
        top: 41%;
    left: 10%;
    width: 20rem;
    height: 5rem;
    font-size: 1.5rem;
    }

    
    .work-container{
        height: 45vh;
        top: 54vh;
    }
    .work-container  img{
        width: 85vw;
        height: 28vh;
    }
    .work-container img:nth-child(1){
        display: none;
    }
    .work-container img:nth-child(3){
        display: none;
    }
    .work-container img:nth-child(2){
        display: none;
    }
    .work-container img:nth-child(4){
        display: none;
    }
    .work-container img:nth-child(5){
        display: none;
    }
    

    .h4{
        font-size: 9vw;
        /* top: 26vh; */
    }

    .work{
        font-size: 13vw;
        left: 27%;
    }

    .page4{
        top: 420vh;
    }
    .page3 h5{
        font-size: 5vw;
        left: 11%;
        top: 17%;
    }
    .page3{
        height: 220vh;
    }
    .skill{
        /* background: red; */
        height: 17vh;
        width: 35vw;
    }
    .skills-container{
        top: 25%;
        height: 157vh;
    }
    .skills-container a{
        
        width: 32vw;
        height: 15vh;
        top: 5%;
        border-radius: 4vw;
        width: 93%;
        height: 23vh;
    }
    .skills-container img{
        width: 20vw;
        height: 10vh;
        left: 50%;
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .skills-container a i{
        font-size: 11vw;
}
    .skill{
        /* background: red; */
        height: 17vh;
        width: 35vw;
        margin-block: 4.5vh;
    }

    .skills-container a{
        font-size: 5vw;
    }
    .skills-container img{
        width: 20vw;
        height: 15vh;
    }
    .skills-container a i{
        font-size: 11vw;
    }
    .page3 h5{
        font-size: 5vw;
        left: 19%;
        top: 20%;
    }
    .skills{
        font-size: 14vw;
        left: 28%;
    }

    .portfolio h4{
        font-size: 3vw;
    }
    #smcircle{
        display: none;
    }
    .nav .mobile-open{
        position: absolute;
        right: 5vw;
        top: 1vh;
        font-size: 5vw;
        color: white;
    }
    .menu .mobile-close{
        position: absolute;
        right: 5vw;
        top: 1vh;
        font-size: 7vw;
        color: white;
        z-index: 100000;
    }
    .nav .menu{
        display: none;
        width: 100vw;
        height: 80vh;
        border-bottom-left-radius: 153vw;
    }
    .menu ul{
        left: 34%;
    }
    .menu ul li {
        font-size: 6vw;
        margin-block: 7vh;
    }
    .nav .open{
        display: none;
    }

    .menu ul li a{
        font-size: 6vw;
    }


    .name h3{
        font-size: 19vw;
    }

    .name img{
        width: 91vw;
        left: -4%;
        top: 51%;
    }
    .page1 {
        height: 80vh;
    }

    .name p{
        font-size: 3vw;
        color: #ffffffa8;
        top: 44%;
        letter-spacing: 8px;
    }
    .name a{
        top: 37%;
        left: 46%;
        font-size: 3vw;
    }

    .page2 h1{
        font-size: 14vw;
        left: 16%;
    }
    .page1 .text{
        width: 100%;
        left: 0;
        top: 30%;
    }

    .page2 .text p{
        font-size: 4vw;
        width: 85vw;
        top: 53%;
    line-height: 55px;
        display: flex;
        text-align: center;
    }
} 

@media (width:540px ){
    .backend h4{
        position: absolute;
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 4vw;
    top: 0vh;
    left: 5vw;
    width: 45rem;
    }

    .backend h5{
        width: 93%;
        font-size: 3vw;
        top: 43%;
        text-transform: capitalize;
        font-weight: 100;
    }
    .page5 a img{
        height: 15vh;
        width: 22vw;
    
    }
    .page5{
        top: 695vh;
        height: 110vh;
    }
    .page5 h1{
        font-size: 10vw;
        font-size: 14vw;
        text-align: inherit;
        left: 10%;
        top: 10%;
    }
    .link{
        height: 13vh;
    }
    .link a h4{
        font-size: 7vw;
    }
    .link a h6{
        font-size: 5vw;
        width: 69%;
    }
    .h42{
        top: 139vh;
        z-index: 1;
    }
    .project-link{
        top: 159vh;
    }
    .seeall{
        width: 25vw;
        height: 10vw;
        background-color: rgb(70 145 139);
        position: absolute;
        top: 110vh;
        left: 65vw;
        color: white;
        text-decoration: none;
        font-size: 1rem;
        letter-spacing: 5px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7vw;
    }

    
    .work-container{
        height: 45vh;
        top: 24%;
    }
    .work-container  img{
        width: 85vw;
        height: 28vh;
    }
    .work-container img:nth-child(1){
        display: none;
    }
    .work-container img:nth-child(3){
        display: none;
    }
    .work-container img:nth-child(2){
        display: none;
    }
    .work-container img:nth-child(4){
        display: none;
    }
    .work-container img:nth-child(5){
        display: none;
    }
    

    .h4{
        font-size: 9vw;
        /* top: 26vh; */
    }

    .work{
        font-size: 13vw;
        left: 27%;
    }

    .page4{
        top: 420vh;
    }
    .skill{
        /* background: red; */
        height: 24vh;
        width: 35vw;
    }
    .skills-container{
        top: 25%;
        height: 157vh;
    }
    .skills-container a{
        font-size: 5vw;
        top: 5%;
        width: 32vw;
        height: 21vh;
        border-radius: 4vw;
    }
    .skills-container img{
        width: 18vw;
        height: 13vh;
        left: 50%;
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .skills-container a i{
        font-size: 11vw;
}
    .page3 h5{
        font-size: 5vw;
        left: 11%;
        top: 17%;
    }
    .page3{
        height: 220vh;
    }
    .skills{
        font-size: 14vw;
        left: 28%;
    }
    #smcircle{
        display: none;
    }
    .nav .mobile-open{
        position: absolute;
        right: 5vw;
        top: 1vh;
        font-size: 5vw;
        color: white;
    }
    .menu .mobile-close{
        position: absolute;
        right: 5vw;
        top: 1vh;
        font-size: 7vw;
        color: white;
        z-index: 100000;
    }
    .nav .menu{
        display: none;
        width: 100vw;
        height: 92vh;
        border-bottom-left-radius: 153vw;
    }
    .menu ul{
        left: 34%;
    }
    .menu ul li {
        font-size: 6vw;
        margin-block: 7vh;
    }
    .nav .open{
        display: none;
    }

    .menu ul li a{
        font-size: 6vw;
    }


    .name h3{
       font-size: 19vw;
    }

    .name img{
        width: 91vw;
        left: -4%;
        top: 51%;
    }
    .page1 {
        height: 80vh;
    }

    .name p{
        font-size: 2vw;
        color: #ffffffa8;
        top: 44%;
        letter-spacing: 8px;
    }
    .name a{
        top: 37%;
        left: 46%;
        font-size: 3vw;
    }

    .page2 h1{
        font-size: 14vw;
        left: 16%;
    }
    .page1 .text{
        width: 100%;
        left: 0;
        top: 30%;
    }

    .page2 .text p{
        font-size: 3vw;
        width: 85vw;
        top: 42%;
    line-height: 55px;
        display: flex;
        text-align: center;
    }
}

@media (width:768px ){
    .repo{
        top: 41%;
    left: 10%;
    width: 20rem;
    height: 5rem;
    font-size: 1.5rem;
    }
    .backend h4{
        position: absolute;
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 4vw;
    top: 0vh;
    left: 5vw;
    width: 45rem;
    }

    .backend h5{
        width: 93%;
        font-size: 3vw;
        top: 43%;
        text-transform: capitalize;
        font-weight: 100;
    }
    .page5 p{
        top: 97%;
    }
    .page5 a img{
        width: 24vw;
        height: 14rem;
    
    }
    .page5{
        top: 699vh;
        height: 110vh;
    }
    .page5 h1{
        font-size: 10vw;
        font-size: 14vw;
        text-align: inherit;
        left: 10%;
        top: 10%;
    }
    .link{
        height: 12vh;
    }
    .link a h4{
        font-size: 7vw;
    }
    .link a h6{
        font-size: 5vw;
        width: 69%;
    }
    .h42{
        top: 139vh;
        z-index: 1;
    }
    .project-link{
        top: 159vh;
    }
    .seeall{
        width: 25vw;
        height: 10vw;
        background-color: rgb(70 145 139);
        position: absolute;
        top: 102vh;
        left: 65vw;
        color: white;
        text-decoration: none;
        font-size: 4vw;
        letter-spacing: 5px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7vw;
    }

    
    .work-container{
        height: 45vh;
        top: 54vh;
    }
    .work-container  img{
        width: 85vw;
        height: 28vh;
    }
    .work-container img:nth-child(1){
        display: none;
    }
    .work-container img:nth-child(3){
        display: none;
    }
    .work-container img:nth-child(2){
        display: none;
    }
    .work-container img:nth-child(4){
        display: none;
    }
    .work-container img:nth-child(5){
        display: none;
    }
    

    .h4{
        font-size: 9vw;
        /* top: 26vh; */
    }

    .work{
        font-size: 13vw;
        left: 27%;
    }
    .page4{
        top: 420vh;
    }
    .page3 h5{
        font-size: 5vw;
        left: 11%;
        top: 17%;
    }
    .page3{
        height: 220vh;
    }
    .skill{
        /* background: red; */
        height: 17vh;
        width: 35vw;
    }
    .skills-container{
        top: 22%;
        height: 156vh;
    }
    .skills-container a{
        
        width: 32vw;
        height: 15vh;
        border-radius: 4vw;
        width: 93%;
        height: 23vh;
    }
    .skills-container img{
        width: 20vw;
        height: 10vh;
        left: 50%;
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .skills-container a i{
        font-size: 11vw;
}

    .page3 h5{
        font-size: 5vw;
        left: 19%;
        top: 20%;
    }
    .skill{
        /* background: red; */
        height: 17vh;
        width: 35vw;
        margin-block: 4.5vh;
    }
    .skills-container a{
        font-size: 5vw;
    }
    .skills-container img{
        width: 20vw;
        height: 15vh;
    }
    .skills-container a i{
        font-size: 11vw;
    }
    .page3 h5{
        font-size: 5vw;
        left: 19%;
        top: 20%;
    }
    .skills{
        font-size: 14vw;
        left: 28%;
    }
    .portfolio h4{
        font-size: 3vw;
    }
    #smcircle{
        display: none;
    }
    .nav .mobile-open{
        position: absolute;
        right: 5vw;
        top: 1vh;
        font-size: 5vw;
        color: white;
    }
    .menu .mobile-close{
        position: absolute;
        right: 5vw;
        top: 1vh;
        font-size: 7vw;
        color: white;
        z-index: 100000;
    }
    .nav .menu{
        display: none;
        width: 100vw;
        height: 80vh;
        border-bottom-left-radius: 153vw;
    }
    .menu ul{
        left: 34%;
    }
    .menu ul li {
        font-size: 6vw;
        margin-block: 7vh;
    }
    .nav .open{
        display: none;
    }

    .menu ul li a{
        font-size: 6vw;
    }


    .name h3{
       font-size: 19vw;
    }

    .name img{
        width: 91vw;
        left: -4%;
        top: 51%;
    }
    .page1 {
        height: 80vh;
    }

    .name p{
        font-size: 3vw;
        color: #ffffffa8;
        top: 44%;
        letter-spacing: 8px;
    }
    .name a{
        top: 37%;
        left: 46%;
        font-size: 3vw;
    }

    .page2 h1{
        font-size: 14vw;
        left: 16%;
    }
    .page1 .text{
        width: 100%;
        left: 0;
        top: 30%;
    }

    .page2 .text p{
        font-size: 4vw;
    width: 85vw;
    top: 53%;
    line-height: 55px;
    display: flex;
    text-align: center;
    }
}
@media (width:912px ){
    .repo{
        top: 41%;
    left: 10%;
    width: 20rem;
    height: 5rem;
    font-size: 1.5rem;
    }
    .backend h4{
        position: absolute;
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 4vw;
    top: 0vh;
    left: 5vw;
    width: 45rem;
    }

    .backend h5{
        width: 93%;
        font-size: 3vw;
        top: 43%;
        text-transform: capitalize;
        font-weight: 100;
    }
    .page5 p{
        top: 97%;
    }
    .page5 a img{
        width: 24vw;
        height: 14rem;
    }
    .page5{
        top: 695vh;
        height: 100vh;
    }
    .page5 h1{
        font-size: 10vw;
        font-size: 14vw;
        text-align: inherit;
        left: 10%;
        top: 10%;
    }
    .link{
        height: 12vh;
    }
    .link a h4{
        font-size: 7vw;
    }
    .link a h6{
        font-size: 5vw;
        width: 69%;
    }
    .h42{
        top: 139vh;
        z-index: 1;
    }
    .project-link{
        top: 159vh;
    }
    .seeall{
        width: 25vw;
        height: 10vw;
        background-color: rgb(70 145 139);
        position: absolute;
        top: 102vh;
        left: 65vw;
        color: white;
        text-decoration: none;
        font-size: 1rem;
        letter-spacing: 5px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7vw;
    }

    
    .work-container{
        height: 45vh;
        top: 54vh;
    }
    .work-container  img{
        width: 85vw;
        height: 28vh;
    }
    .work-container img:nth-child(1){
        display: none;
    }
    .work-container img:nth-child(3){
        display: none;
    }
    .work-container img:nth-child(2){
        display: none;
    }
    .work-container img:nth-child(4){
        display: none;
    }
    .work-container img:nth-child(5){
        display: none;
    }
    

    .h4{
        font-size: 9vw;
        /* top: 26vh; */
    }

    .work{
        font-size: 13vw;
        left: 27%;
    }
    .page4{
        top: 420vh;
    }
    .page3 h5{
        font-size: 5vw;
        left: 11%;
        top: 17%;
    }
    .page3{
        height: 220vh;
    }
    .skill{
        /* background: red; */
        height: 17vh;
        width: 35vw;
    }
    .skills-container{
        top: 22%;
        height: 156vh;
    }
    .skills-container a{
        
        width: 32vw;
        height: 15vh;
        border-radius: 4vw;
        width: 93%;
        height: 23vh;
    }
    .skills-container img{
        width: 20vw;
        height: 10vh;
        left: 50%;
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .skills-container a i{
        font-size: 11vw;
}

    .skill{
        /* background: red; */
        height: 17vh;
        width: 35vw;
        margin-block: 4.5vh;
    }
    
    .skills-container a{
        font-size: 5vw;
    }
    .skills-container img{
        width: 20vw;
        height: 15vh;
    }
    .skills-container a i{
        font-size: 11vw;
    }
    .page3 h5{
        font-size: 5vw;
        left: 19%;
        top: 20%;
    }
    .skills{
        font-size: 14vw;
        left: 28%;
    }
    .portfolio h4{
        font-size: 3vw;
    }
    #smcircle{
        display: none;
    }
    .nav .mobile-open{
        position: absolute;
        right: 5vw;
        top: 1vh;
        font-size: 5vw;
        color: white;
    }
    .menu .mobile-close{
        position: absolute;
        right: 5vw;
        top: 1vh;
        font-size: 7vw;
        color: white;
        z-index: 100000;
    }
    .nav .menu{
        display: none;
        width: 100vw;
        height: 80vh;
        border-bottom-left-radius: 153vw;
    }
    .menu ul{
        left: 34%;
    }
    .menu ul li {
        font-size: 6vw;
        margin-block: 7vh;
    }
    .nav .open{
        display: none;
    }

    .menu ul li a{
        font-size: 6vw;
    }


    .name h3{
        font-size: 20vw;
    }

    .name img{
        width: 91vw;
        left: -4%;
        top: 51%;
    }
    .page1 {
        height: 80vh;
    }

    .name p{
        font-size: 3vw;
        color: #ffffffa8;
        top: 44%;
        letter-spacing: 8px;
    }
    .name a{
        top: 37%;
        left: 46%;
        font-size: 3vw;
    }

    .page2 h1{
        font-size: 14vw;
        left: 16%;
    }
    .page1 .text{
        width: 100%;
        left: 0;
        top: 30%;
    }

    .page2 .text p{
        font-size: 4vw;
        width: 85vw;
        top: 53%;
    line-height: 75px;
        display: flex;
        text-align: center;
    }
}

@media(width:1024px){
    .repo{
        top: 48.5%;
    height: 2.5rem;
    left: 5%;
    }
     .skills-container{
        top: 34%;
     }
     .skill{
        top: 3%;
     }
    
    #smcircle{
        display: none;
    }
    .nav .mobile-open{
        position: absolute;
        right: 5vw;
        top: 4vh;
        font-size: 3vw;
        color: white;
    }
    .menu .mobile-close{
        position: absolute;
        right: 5vw;
        top: 4vh;
        font-size: 3vw;
        color: white;
        z-index: 100000;
    }
    .nav .menu{
        display: none;
        width: 63%;
        height: 100%;
        border-bottom-left-radius: 153vw;
    }
    .menu ul{
        left: 50%;
    }
    .menu ul li {
        font-size: 6vw;
        margin-block: 5vh;
    }
    .nav .open{
        display: none;
    }

    .menu ul li a{
        font-size: 3vw;
    }

    .name h3{
        font-size: 14vw;
    }

    .name img{
        width: 78vw;
        left: 2%;
        top: 80%;
    }
    .page1 {
        height: 80vh;
    }

    .name p{
        font-size: 2vw;
        color: #ffffffa8;
        top: 83%;
        letter-spacing: 13px;
    }
    .name a{
        top: 67%;
        left: 42%;
    }

    .page2 h1{
        font-size: 5vw;
        left: 38%;
    }
    .page1 .text{
        width: 100%;
        left: 10%;
        top: 30%;
    }

    .page2 .text p{
        font-size: 2vw;
    width: 85vw;
    top: 53%;
    line-height: 55px;
    display: flex;
    text-align: center;
    }
}

@media(width:1280px){
    .repo{
        top: 48.5%;
    height: 2.5rem;
    left: 5%;
    }
    .skills-container{
        top: 37%;
     }
     .skill{
        top: 3%;
     }
    
   
    #smcircle{
        display: none;
    }
    .nav .mobile-open{
        position: absolute;
        right: 5vw;
        top: 4vh;
        font-size: 3vw;
        color: white;
    }
    .menu .mobile-close{
        position: absolute;
        right: 5vw;
        top: 4vh;
        font-size: 3vw;
        color: white;
        z-index: 100000;
    }
    .nav .menu{
        display: none;
        width: 63%;
        height: 100%;
        border-bottom-left-radius: 153vw;
    }
    .menu ul{
        left: 50%;
    }
    .menu ul li {
        font-size: 6vw;
        margin-block: 5vh;
    }
    .nav .open{
        display: none;
    }

    .menu ul li a{
        font-size: 3vw;
    }

    .name h3{
        font-size: 14vw;
    }

    .name img{
        width: 78vw;
        left: 2%;
        top: 80%;
    }
    .page1 {
        height: 80vh;
    }

    .name p{
        font-size: 2vw;
        color: #ffffffa8;
        top: 83%;
        letter-spacing: 13px;
    }
    .name a{
        top: 67%;
        left: 42%;
    }

    .page2 h1{
        font-size: 5vw;
        left: 38%;
    }
    .page1 .text{
        width: 100%;
        left: 10%;
        top: 30%;
    }

    .page2 .text p{
        font-size: 2vw;
    width: 85vw;
    top: 5%;
    line-height: 53px;
    display: flex;
    text-align: center;
    }
}
